.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.wrapper-main{
    position: relative;
    height: 100%;
    top:101px;
    padding: 0 0 101px 0;
}
.sidebar {
    position: absolute;
    /*top:55px;*/
    left:0;
    /*padding: 5px 0 0 15px ;*/
    /*width: 200px;*/
    /*float:left;*/
    width: 200px;
}

.container {
    position: relative;
    /*height: 100%;*/
    margin-right: 0;
    overflow-y: auto;
    height: 100%;
    bottom: 50px;
}
.footer {
    position: absolute;
    height: 50px;
    bottom:0;
    width: 100%;
    background: gray;
}
table tr td{
    border: 1px solid black;
    width: 50%;
    padding: 0 0 0 5px
}

nav >ul>li:first-child{
    font-size: 18px
}



