.sidebar {
    padding: 5px 0 0 15px ;
    float: left;
    width: 200px
}

#wrapper #wrapper-main{
    position: absolute;
    top: 55px; /* Header Height */
    bottom: 50px; /* Footer Height */
    width: 85%;
    left:200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.footer {
    /*border-top: 20px solid white;*/
    position: fixed;
    /*bottom: 0;*/
    /*!*height:70px;*!*/
    left: 30px;
    /*right: 0;*/
    /*width:100%;*/
    display:block;
    /*position:absolute;*/
    bottom:20px;
    text-align:center;
}
table tr td{
    border: 1px solid black;
    width: 50%;
    padding: 0 0 0 5px
}

nav >ul>li:first-child{
    font-size: 18px
}