footer figure {
    background: #e0e2e6;
    border: 1px solid #c5c9cf;
    padding: 15px 0 10px 10px;
    width: 300px;
    height: 88px;
    overflow-x: hidden;
    overflow-y: auto;
}

figcaption{
    color:#b92c28;
    margin: 10px 0 10px 5px
}