nav li {
    float: left;
    margin-left: 20px
}
/*Để cot dan de qua phia phải*/
aside {
    float: right;
    width: 120px;
}
/*article {*/
    /*float: left;*/
    /*width: 120px;*/
/*}*/
.clear {
    clear: both;
}

/* clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
